.boton-amarillo {
    @include boton($amarillo, block);
}

.boton-verde{
    @include boton($verde, inline-block);
    border: none;
}

.boton-verde .olvidaste {
    color: $naranjo;
}

.boton-naranjo {
    @include boton($naranjo, block);
    border-radius: 1rem
}

.boton-rosa {
    @include boton($rosa, block);
}

.boton-azul {
    @include boton($azul, block);
}

.boton-blanco {
    @include boton2($blanco, block);
}

.boton-rojo-block {
    @include boton($rojo, block);
    width: 100%;
    border: none;
}

.boton-rojo {
    @include boton($rojo, inline-block);
    border: none;
}

.boton-amarillo-block {
    @include boton($amarillo, block);
}

.boton-video {
    @include boton($rojo, block);
}