@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: lighten($gris, 5);
    border: 1px solid darken($gris, 10);
    padding: 1rem;

    .contenido-anuncio {
        padding: 2rem;
    }

    h3, p {
        margin: 0;
    }

    .imagenes-anuncios{
        border: 1px solid;
    }

}

.boton-rosa {
    border-radius: 1rem;
}

.boton-azul {
    border-radius: 1rem;
}

.boton-blanco {
    border-radius: 1rem;
}

h1,h2, h3 {
    font-weight: $regular;
}