.footer {
    padding: calc($separacion / 1) 0 ;
    background-color: hsl(220, 100%, 50%);
    margin: auto;

    .contenedor-footer {
        padding-top: calc($separacion / 2) 0;
        margin: auto;
    }

    .copyright {
        color: $blanco;
        text-align: center;
    }
}